h2 {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  width: 50%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: 0.2s ease;
}

input:focus {
  outline: none;
  border-color: #1976d2;
}
